.header-section .mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
}

.header-section .hoverable {
  position: static;
}

.header-section .hoverable:hover .mega-menu {
  display: block;
  z-index: 1000;
}

